{% extends 'base.html' %}
{% block content %}

<h2>Editar Producto</h2>

<form method="POST" class="card p-4 shadow">

    <input name="nombre" value="{{ producto.nombre }}" class="form-control mb-2" required>

    <select name="categoria" class="form-select mb-2" required>
        <option {% if producto.categoria == "Computadoras" %}selected{% endif %}>Computadoras</option>
        <option {% if producto.categoria == "Laptops" %}selected{% endif %}>Laptops</option>
        <option {% if producto.categoria == "Periféricos" %}selected{% endif %}>Periféricos</option>
        <option {% if producto.categoria == "Accesorios" %}selected{% endif %}>Accesorios</option>
        <option {% if producto.categoria == "Componentes" %}selected{% endif %}>Componentes</option>
        <option {% if producto.categoria == "Redes" %}selected{% endif %}>Redes</option>
    </select>

    <input name="precio" value="{{ producto.precio }}" type="number" min="0.01" step="0.01" class="form-control mb-2" required>
    <input name="stock" value="{{ producto.stock }}" type="number" min="0" class="form-control mb-2" required>

    <button class="btn btn-primary w-100">
        <i class="bi bi-arrow-repeat"></i> Actualizar
    </button>

</form>

{% endblock %}